h1 {
    text-align: center;
    border-bottom: 2px solid black;
}
img {
    width: 100px;
    height: 100px;
}
.row {
    margin-inline: 20px;
}
.secao {
    margin-inline: 20px;
    padding: 50px;
    text-align: center;
    border: solid;
    border-radius: 25px;
}