h1 {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #010101;
}
img {
    width: 60%;
    height: auto;
}
.secao {
    margin: 20px;
    padding: 80px;
    text-align: center;
    justify-content: center;
    border: solid;
    border-radius: 25px;
}
.secao:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 10px 10px 2px grey;
    /* background-color: #c4c4c4; */
}
.principal {
    margin: none;
    width: 100%;
    height: 150px;
    overflow: hidden; /* Oculta a parte da imagem que excede o contêiner */
}
#preco{
    font-weight: bold;    
}
@media(max-width: 450px) {
    .secao {
        padding: 40px;
    }
}
@media(max-width: 250px) {
    h3 {
        display: none;
    }
    .secao {
        margin: 5px;
        padding: 20px;
    }
}